<!DOCTYPE html>
<html>
    <head>
        <style>
            html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
                background: #fbfbfb;
            }

            header {
                display: block;
                position: fixed;

                width: 100%;
                height: 64px;
                background: #ffffff;
                box-shadow: 0 2px 5px rgba(11, 12, 12, 0.16);
            }

            header h1 {
                display: inline-block;

                width: 132px;
                height: 38px;
                margin: 13px 0;

                color: transparent;
                font-size: 0;

                background: url('/resource/img/logo.png');
            }

            .container {
                position: relative;
                width: 100%;
                max-width: 990px;
                margin: 0 auto;
            }

            .container.game {
                max-width: 800px;
            }

            .header__logo {
                display: inline-block;
            }

            .header__menu {
                float: right;
                display: block;

                margin: 0;
                padding: 0;

                list-style: none;
            }

            .header__menu > li {
                display: inline-block;

                color: #444444;
                font-size: 16px;
                line-height: 64px;
            }

            .header__menu > li > a[role="link"] {
                cursor: pointer;
                display: block;
            }

            .header__menu > li + li {
                margin-left: 12px;
            }

            .content {
                padding: 64px 0 0;

                text-align: left;
            }

            .box {
                position: fixed;
                left: calc(50% - 400px);
                top: 25%;

                display: block;
                width: 800px;
                height : 50%;

                background: #ffffff;
                border-radius: 3px;
                box-shadow: 0 2px 5px rgba(11, 12, 12, 0.16);
            }

            .box:after {
                display: table;
                clear: both;
                content: '';
            }

            .box__image {
                float: left;
                display: block;
                width: 50%;
                height: 100%;

                overflow: hidden;
            }

            .box__image > img {
                width: 100%;
                transition: all 0.5s ease;
            }

            .box__image:hover > img {
                width: 120%;
                margin-left: -10%;
                opacity: 0.3;
            }

            .box__decription {
                float: left;
                display: block;
                width: 50%;
                padding: 16px 24px;

                box-sizing: border-box;
            }

            a[role="button"] {
                cursor: pointer;
                display: inline-block;
                padding: 0 24px;

                color: #ffffff;
                font-size: 16px;
                font-weight: 600;
                line-height: 48px;

                border-radius: 3px;
                background: #de5252;
                box-shadow: 0 2px 5px rgba(11, 12, 12, 0.16);
            }

            .game_screen {
                position: fixed;
                left: 0;
                top: calc(50% - 250px);

                width: 100%;
                height: 500px;

                overflow: hidden;
            }

            .game_list {
                position: absolute;
                left: 0;
                top: 0;

                display: block;
                width: 5000px;
                padding: 0;
                margin: 0;

                transition: all 0.5s ease;
            }

            .game_list li {
                display: inline-block;
                opacity: 0.5;

                width: 800px;
                height: 400px;

                color: transparent;
                font-size: 0;

                background: #ffffff;
                box-shadow: 0 2px 5px rgba(11, 12, 12, 0.16);
                border-radius: 3px;
            }

            .game_list li + li{
                margin-left:20px;
            }

            .game_list li.active {
                opacity: 1;
            }

            .button--left {
                position: absolute;
                width: 100px;
                height: 100px;
                left: -80px;
                top:calc(175px);
                color: transparent;
                font-size: 0;

            }

            .button--left:before {
                content: ' ';

                position: absolute;
                left: 0;
                top: 0;

                display: block;
                width: 50px;
                height: 50px;

                border-top: 15px solid #ff0000;
                border-right: 15px solid #ff0000;

                transform: rotate(-135deg);
            }

            .button--left:hover:before {
                border-top: 5px solid #000000;
                border-right: 5px solid #000000;

            }
            .button--right {
                position: absolute;
                width: 100px;
                height: 100px;
                left: 820px;
                top:calc(175px);
                color: transparent;
                font-size: 0;

            }

            .button--right:before {
                content: ' ';

                position: absolute;
                left: 0;
                top: 0;

                display: block;
                width: 50px;
                height: 50px;

                border-top: 15px solid #ff0000;
                border-right: 15px solid #ff0000;

                transform: rotate(45deg);
            }

            .button--left:hover:before {
                border-top: 15px solid #000000;
                border-right: 15px solid #000000;

            }
            .container_bottom{

                position: fixed;
                top: 700px;
                left:calc(50% - 96px);
                width: 100%;
                height: 50px;
            }
        </style>
    </head>

    <body>
        <header>
            <div class="container">
                <a role="link" href="/" class="header__logo" ><h1>DUDE</h1></a>
                <ul class="header__menu">
                    <li><a role="link">contactA</a></li>
                    <li><a role="link">contactB</a></li>
                    <li><a role="link">contactC</a></li>
                </ul>
            </div>
        </header>

        <div class="game_screen">

            <div class="container game">
                <ul id="list" class = "game_list">
                    <li class="img_game1 active">game1</li>
                    <li class="img_game1">game1</li>
                    <li class="img_game1">game1</li>
                    <li class="img_game1">game1</li>
                </ul>

                <a class="button--left" onclick="move(-1)">왼쪽</a>
                <a class="button--right" onclick="move(1)">오른쪽</a>
            </div>
        </div>

        <div class="container_bottom">
            <a role="button" onclick="moveTo(0)">1</a>
            <a role="button" onclick="moveTo(1)">2</a>
            <a role="button" onclick="moveTo(2)">3</a>
            <a role="button" onclick="moveTo(3)">4</a>
        </div>

        <script>
            var index = 0;

            var move = function(delta) {
                var list = document.getElementById("list");
                index += delta;

                var children = list.children;
                for (var i = 0; i < children.length; i++) {
                    children[i].className = (index === i ? "img_game1 active" : "img_game1");
                }

                list.style.left = index * -820 + "px";
            }

            var moveTo = function(value) {
                index = value;
                list.style.left = index * -820 + "px";
                var children = list.children;
                for (var i = 0; i < children.length; i++) {
                    children[i].className = (index === i ? "img_game1 active" : "img_game1");
                }
            }

        </script>
    </body>
</html>